<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
</head>
<body>
    <h1>DATA OF ALL USERS ARE AS FOLLOWS</h1>
      <table border="solid black 1">
        <tr>
            <th>user id</th>
            <th>user email</th>
            <th> username</th>
        </tr>
        <% for(user of data){%>
            <tr>
                <td><%= user.userId%></td>
                <td><%= user.email%></td>
                <td><%= user.username%></td>
                <td>
                    <form method="get" action="/user/<%= user.userId%>/edit">
                        <button>EDIT</button>
                    </form>
                </td>
            </tr>
            <% }%>
        </table>
       
</body>
</html>